robotframework>=6.1.1
robotframework-requests>=0.9.5
robotframework-jsonlibrary
robotframework-jsonschemalibrary
robotframework-operatingsystem>=1.1
robotframework-collections>=1.0.0
jsonschema>=4.17.3
requests>=2.31.0
